<footer class="h-auto p-8 w-full ml-0 mr-0 mt-6 text-xs text-white text-center bg-green-700">
    <div class="block items-center text-center sm:flex sm:items-end sm:justify-between">
        <div class="block sm:flex sm:items-end sm:justify-between text-3xl font-bold leading-10 text-center sm:text-left">
          <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300" href="index.html" target="_self">
            <img class="inline pb-4 max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/cooking-logo.png?height=60px">
          </a>
        </div>
        <nav class="block text-center items-center pb-8 text-yellow-300 sm:flex sm:items-end sm:justify-between sm:text-center">
          <ul class="mt-4 list-none text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0">
            <li class="-ml-4 text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0"><a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="chiefs.html">Cocineros</a></li>
            <li class="-ml-4 text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0"><a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="gallery.html">IA Gallery</a></li>
            <li class="-ml-4 text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0"><a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="">Inscripción</a></li>
          </ul>
        </nav>
        <div class="block items-center text-center content-center mb-4 sm:flex">
          <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://www.facebook.com" target="_blank">
            <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/facebook.png?height=60px">
          </a>
          <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://twitter.com/" target="_blank">
            <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/twitter.png?height=60px">
          </a>
          <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://www.instagram.com/" target="_blank">
            <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/instagram.png?height=60px">
          </a>
        </div>
      </div>
    <hr>
    <div class="block pt-8 sm:flex sm:items-end sm:justify-between">
        <p>David Cantós López <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="mailto: dcantos@uoc.edu">dcantos@uoc.edu</a></p>
        <p>PAC2 - M4.258 - Eines HTML i CSS II - Aula 1</p>
        <p>&copy; Universitat Oberta de Catalunya</p>
    </div>
</footer>