<header class="p-8 w-full mt-0 mr-0 ml-0 text-xl text-white bg-green-700">
  <div class="block sm:flex sm:items-end sm:justify-between">
    <div class="block sm:pt-0 sm:flex sm:items-center sm:justify-between text-3xl font-bold leading-10 text-center sm:text-left">
      <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="index.html" target="_self">
        <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/cooking-logo.png?height=60px">
      </a>
      <div class="text-3xl pb-3">Concurso de Cocina Saludable</div>
    </div>
    <div class="block sm:flex sm:items-end sm:justify-between">
      <nav class="text-center pt-4 pb-4 align-middle sm:text-left">
        <ul class="mt-4 list-none -ml-4 text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0">
          <li class="text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0">
            <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="chiefs.html">Cocineros</a>
          </li>
          <li class="text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0">
            <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="gallery.html">IA Gallery</a>
          </li>
          <li class="text-xl font-bold leading-7 sm:inline-block sm:pr-8 sm:last:pr-0">
            <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300 hover:border-b-yellow-300 hover:border-b-2" href="">Inscripción</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>