<div class="block items-center text-center content-center mb-4 sm:flex">
  <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://www.facebook.com" target="_blank">
    <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/facebook.png?height=60px">
  </a>
  <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://twitter.com/" target="_blank">
    <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/twitter.png?height=60px">
  </a>
  <a class="font-bold text-yellow-300 no-underline hover:text-yellow-300" href="https://www.instagram.com/" target="_blank">
    <img class="inline max-w-12 h-auto mr-6 mb-0 ml-6 sm:max-w-none" loading="lazy" src="/src/assets/images/instagram.png?height=60px">
  </a>
</div>